doctype html
html
    head
        link(rel="stylesheet", href="components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="index.css")
        script(src="components/jquery/dist/jquery.min.js")
        script(src="components/angularjs/angular.min.js")
        script(src="index.js")
    body
        .container(ng-app="Todolist")
            form.form-inline.clearfix.topbar
                input.form-control.pull-right(type="text", placeholder="Search", ng-model="query")
            ul.list-group(ng-controller="ListController")
                li.list-group-item(ng-repeat="item in items | filter:query")
                    h4.list-group-item-heading {{item.title}}
                    p.list-group-item-text {{item.description}}
