doctype html
html(ng-app="Todolist")
    head
        base(href="/")
        link(rel="stylesheet", href="components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="index.css")
        script(src="components/jquery/dist/jquery.min.js")
        script(src="components/angular/angular.min.js")
        script(src="components/angular-route/angular-route.min.js")
        script(src="components/angular-resource/angular-resource.min.js")
        script(src="index.js")
        script(src="controllers.js")
    body
        .container(ng-view="")